@model List<Web_Sach.Models.Sach>
@section csHeader{
    <link href="~/Scripts/Client/CSS/loading.css" rel="stylesheet" />
}
@if (Model.Count > 0)
{
    <div class="row ms-5" id="product-category">
        @foreach (var item in Model)
        {
            var imgUrl = "";
            int? sale = 0;
            var khuyenMai = item.KhuyenMai_Sach.ToList();
            var img = item.Images.FirstOrDefault(s => s.IsDefault);
            var rate = Html.Action("RateView", "Home", new { id = @item.ID });
            if (img != null)
            {
                imgUrl = img.Image1;
            }

            if (khuyenMai.Count > 0)
            {// có khuyến mại
             // kiểm tra xem thời gian khuyến mại
                foreach (var itemKM in khuyenMai)
                {// lặp qua danh sách khuyến mại
                    if (DateTime.Now >= itemKM.KhuyenMai.NgayBatDau && DateTime.Now <= itemKM.KhuyenMai.NgayKeThuc)
                    {
                        sale = itemKM.Sale;
                        break;
                    }
                }
                var priceSale = item.Price - (item.Price * sale / 100);

                <div class="col-md-3 my-3 product-item p-0 position-relative ">

                    <a href="/chi-tiet/@item.MetaTitle-@item.ID" class="submitbtn"><img src="@imgUrl" class="img-fluid  " alt="san_pham"> </a>
                    @if (sale != 0)
                    {// còn hạn sale
                        <span class=" position-absolute  badge translate-middle  bg-danger" style="top:19px; right: 0px;">-@sale%</span>
                        <p class="fs-5 product-name ">@item.Name</p>
                        if (!MvcHtmlString.IsNullOrEmpty(rate))
                        {
                            @Html.Raw(rate);
                            <span class="text-danger ms-4 me-4 ">@(priceSale.HasValue ? priceSale.Value.ToString("N0") :"")₫</span>
                            <span>
                                <del class="price-sale">@((item.Price.HasValue ? item.Price.Value.ToString("N0") : ""))₫</del>
                            </span>
                        }
                        else
                        {
                            <div class="mt-4">
                                <span class="text-danger ms-4 me-4 ">@(priceSale.HasValue ? priceSale.Value.ToString("N0") :"")₫</span>
                                <span>
                                    <del class="price-sale">@((item.Price.HasValue ? item.Price.Value.ToString("N0") : ""))₫</del>
                                </span>
                            </div>

                        }

                    }
                    else
                    {// sale hết hạn
                        <p class="fs-5 product-name ">@item.Name</p>
                        if (!MvcHtmlString.IsNullOrEmpty(rate))
                        {
                            @Html.Raw(rate);
                            <p class="text-danger me-4 text-center">@(priceSale.HasValue ? priceSale.Value.ToString("N0") :"")₫</p>
                        }
                        else
                        {
                            <p class="text-danger mt-4 me-4 text-center">@(priceSale.HasValue ? priceSale.Value.ToString("N0") :"")₫</p>
                        }
                    }
                </div>

            }
            else
            {// không có khuyến mại
                <div class="col-md-3 my-3 product-item p-0 position-relative ">
                    <a href="/chi-tiet/@item.MetaTitle-@item.ID" class="submitbtn"><img src="@imgUrl" class="img-fluid  " alt="san_pham"> </a>
                    <p class="fs-5 product-name ">@item.Name</p>
                    @if (!MvcHtmlString.IsNullOrEmpty(rate))
                    {
                        @Html.Raw(rate);
                        <p class="text-danger me-4 text-center">@(item.Price.HasValue ? item.Price.Value.ToString("N0") :"")₫</p>
                    }
                    else
                    {
                        <p class="text-danger mt-4 me-4 text-center">@(item.Price.HasValue ? item.Price.Value.ToString("N0") :"")₫</p>

                    }
                </div>
            }
        }
        <!--Phân trang -->

        @if (ViewBag.totalRecord > ViewBag.PageSize)
        { // số bản ghi  > kích thước mỗi trang
            var pageMax = (int)ViewBag.maxPage;
            var totalPage = (int)ViewBag.totalPage;
            var currentPage = (int)ViewBag.page;
            var starIndex = (int)Math.Max(1, currentPage - pageMax / 2);
            var endIndex = (int)Math.Min(totalPage, currentPage + pageMax / 2);


            //var link = "/san-pham/filter/" + ViewBag.curentCategory.MetaTitle + "-" + ViewBag.filterOb + "-" + ViewBag.curentCategory.ID;
            <nav>
                <ul class="pagination justify-content-end mt-2 ">
                    <!--Nếu trang hiện tại > 1 thì xuất hiện << -->
                    @if (currentPage > ViewBag.First)
                    {
                        <li class="page-item"><button type="button" data-page=@ViewBag.Prev class="filterCategoryPage previous page-link " title="Trang trước"> <span aria-hidden="true">&laquo;</span>  </button></li>

                        @*<li class="page-item"><a href="@link?page=@ViewBag.Prev" class="previous page-link filterCategoryPage" title="Trang trước"> <span aria-hidden="true">&laquo;</span>  </a></li>*@
                    }
                    @for (int i = starIndex; i <= endIndex; i++)
                    {
                        if (currentPage == i)
                        {
                            <li class="page-item "><button type="button" id="filter_5" data-page=@i class="filterCategoryPage page-link active ">@i</button></li>

                        }
                        else
                        {
                            <li class="page-item "><button type="button" data-page=@i class="filterCategoryPage page-link pos ">@i</button></li>

                        }
                    }
                    @if (currentPage < totalPage)
                    {
                        <li class="page-item "><button type="button" data-page=@ViewBag.Next class="filterCategoryPage page-link next "> <span aria-hidden="true">&raquo;</span></button></li>

                    }
                </ul>
            </nav>

        }
    </div>
    <div id="preloader" style="display:none;">
        <div class="loader"></div>
    </div>
    <script src="~/Scripts/Client/script/loading.js"></script>
    <script>

      $('.filterCategoryPage').off("click").on("click", function () {
          let page = $(this).data('page');
          let sortBy = '@Html.Raw(ViewBag.sortBy)';

          let filterOb;
          if ('@Html.Raw(ViewBag.filterOb)' != '') {
           filterOb = JSON.parse('@Html.Raw(ViewBag.filterOb)');
          }
          let reviewOb;
         if ('@Html.Raw(ViewBag.reviewOb)' != '') {
          reviewOb = JSON.parse('@Html.Raw(ViewBag.reviewOb)');
          }

          $.ajax({
              type: "GET",
              url: '/ViewAll/_FillerProductViewAll',
              data:
              {
                  page: page,
                  filterOb: JSON.stringify(filterOb),
                  reviewOb: JSON.stringify(reviewOb),
                  sortBy: sortBy,
              }
              ,

              success: function (res) {
                  $('#products-container-New').html(res);
              }
          })
      })
    </script>
}
else
{
    <span>Không có bản ghi nào</span>
}