@model  Web_Sach.Models.EF.reViewModel
<div class="add_review mt-0">
    <form id="review_form">

        @*@Html.TextBoxFor(x => x.FullName, new { @class = "form_input input_name", @placeholder = "Name", @id = "review_name" })
        @Html.TextBoxFor(x => x.Email, new { @class = "form_input input_email", @placeholder = "Email", @id = "review_email" })
        @Html.HiddenFor(x => x.MaKH)
        @Html.HiddenFor(x => x.MaSach, new { @value = ViewBag.ProductId })*@
        @*@Html.HiddenFor(x => x.MaSach, new { @value = @ViewBag.ProductId })*@
        <input type="text" id="maSachComment" name="maSachComment" value="@ViewBag.ProductId" style="visibility:hidden" />
        <input type="text" id="maUserComment" name="maUserComment" value="@ViewBag.UserId" style="visibility:hidden" />
        <input type="text" id="txtRate" name="Rate" value="4" style="visibility:hidden" />
        @*<input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Name*" required="required" data-error="Name is required.">
        <input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email*" required="required" data-error="Valid email is required.">*@
   
        <div class="mb-0">
            <h1>Đánh giá:</h1>
            <ul class="user_star_rating w-100">
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-regular fa-star"></i></li>
            </ul>
            @*@Html.TextAreaFor(x => x.Content, new { @class = "input_review", @row = "4", @laceholder = "Your Review" })*@
            <textarea id="review_message" class="input_review" name="message" placeholder="Viết bình luận của bạn" rows="4" required data-error="Vui lòng nhập bình luận"></textarea>
        </div>
        <div class="text-left text-sm-right">
            <button id="review_submit" type="button" class="red_button review_submit_btn trans_300 bg-info" >Gửi</button>
        </div>
    </form>
</div>
