@model Web_Sach.Areas.Admin.Data.TacGiaAdmin

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Cập nhật tác giả</h2>

<div class="wrap">
    <div class="container-fluid  mt-5 w-50">
        @using (Html.BeginForm("Update", "Author", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaTacGia)

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.TenTacGia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.TenTacGia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TenTacGia, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group mt-2">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.TieuSu, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.TieuSu, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TieuSu, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group mt-2">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  mt-1  mb-3">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @type = "tel", @pattern = "[0-9]{3}[0-9]{3}[0-9]{4}", @placeholder = "0354569871" })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="form-group mt-2">

                    <label>Tên sách</label>
                    <div class="col-md-10">
                        @Html.DropDownList("MaSach", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaSach, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mt-2">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }


</div>
    </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
