@model PagedList.IPagedList<Web_Sach.Models.ThamGia>
@using PagedList.Mvc;
@using System.Web.Mvc.Ajax;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}






@section thamGia{

    <h2 style="text-align:center">QUẢN LÝ TÁC GIẢ THAM GIA VIẾT SÁCH</h2>

}

<div class="card mb-4">
    <div class="card-header   ">

        @using (Html.BeginForm("Index", "ThamGia", FormMethod.Get))
        {
            <div class="row justify-content-sm-end">

                <div class="col-sm-2 ">
                    <input type="text" value="@ViewBag.SearchString" name="searchString" />

                </div>
                <div class="col-sm-2 ">
                    <button type="submit">Tìm kiếm</button>

                </div>

            </div>
        }





    </div>




    <div class="card-body">
        <div class="container-fluid">
            <a href="~/Admin/ThamGia/Create">Thêm mới</a>
            <table class="table table-bordered" style="text-align:center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên tác giả</th>
                        <th>Tên sách</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="row_@item.MaSach@item.MaTacGia">
                        <td>
                            <a href="/Admin/ThamGia/Update?maSach=@item.MaSach&&maTacGia=@item.MaTacGia" style="text-decoration:none ;color:forestgreen">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Sửa
                            </a>




                            <span style="text-decoration:none ;color:red">

                                <i class="fa-solid fa-trash"></i>

                                @Ajax.ActionLink("Xóa", "Delete", new { @idS = @item.MaSach, @idT= @item.MaTacGia }, new AjaxOptions
                           {
                               Confirm = "Bạn có muốn xóa bản ghi này!!",
                               OnComplete = "$('#row_" + @item.MaSach + @item.MaTacGia +"').remove()",

                               HttpMethod = "Delete"

                           },
                           new
                           {
                               @class = "btn text-danger p-0"
                          }
                           )
                            </span>
                        </td>
                        <td>@item.TacGia.TenTacGia</td>
                        <td>@item.Sach.Name</td>




                    </tr>
                    }



                </tbody>

            </table>



            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @ViewBag.SearchString }))
            @* get trang mới *@


        </div>


    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>






