
@model PagedList.IPagedList<Web_Sach.Models.KhuyenMai_Sach>
@using PagedList.Mvc;
@using System.Web.Mvc.Ajax;


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section kmSach{

    <h2 style="text-align:center">QUẢN LÝ KHUYẾN MẠI (N-N)</h2>

}

<div class="card mb-4">
    @*<div class="card-header   ">

        @using (Html.BeginForm("Index", "KhuyenMai_Sach", FormMethod.Get))
        {
            <div class="row justify-content-sm-end">

                <div class="col-sm-2 ">
                    <input type="text" value="@ViewBag.SearchString" name="searchString" />

                </div>
                <div class="col-sm-2 ">
                    <button type="submit">Tìm kiếm</button>

                </div>

            </div>
        }





    </div>*@




    <div class="card-body">
        <div class="container-fluid">
            <a href="~/Admin/KhuyenMai_Sach/Create">Thêm mới</a>
            <table class="table table-bordered" style="text-align:center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên sách</th>
                        <th>Tên khuyến mại</th>
                        <th>Sale</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.MaSach@item.MaKhuyenMai">
                            <td>
                                <a href="/Admin/KhuyenMai_Sach/Update?maSach=@item.MaSach&&maKM=@item.MaKhuyenMai" style="text-decoration:none ;color:forestgreen">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    Sửa
                                </a>




                                <span style="text-decoration:none ;color:red">

                                    <i class="fa-solid fa-trash"></i>

                                    @Ajax.ActionLink("Xóa", "Delete", new { @idS = @item.MaSach, @idKM = @item.MaKhuyenMai }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa bản ghi này!!",
                                   OnComplete = "$('#row_" + @item.MaSach + @item.MaKhuyenMai + "').remove()",

                                   HttpMethod = "Delete"

                               },
                               new
                               {
                                   @class = "btn text-danger p-0"
                              }
                               )
                                </span>
                            </td>
                            <td>@item.Sach.Name</td>
                            <td>@item.KhuyenMai.TenKhuyenMai</td>
                            <td>@item.Sale</td>




                        </tr>
                    }



                </tbody>

            </table>



            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            @* get trang mới *@


        </div>


    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>








