@model Web_Sach.Models.EF.CartItem
@{
    ViewBag.Title = "BuyNow";
    Layout = "~/Views/Shared/_Layout.cshtml";
   

    var userPaymeny = (Web_Sach.Session.UserLoginSession)ViewBag.user;



}


<div class=" d-block my-5 p-0">
   
    <table class="table table-bordered w-100 table-striped ">
        <tr class="text-center">

            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Ảnh sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>

        </tr>


        @{ 
            double total = 0;
            var imgUrl = "";
            //int? sale = 0;
            //var khuyenMai = Model.sach.KhuyenMai_Sach.ToList();
            var img = Model.sach.Images.FirstOrDefault(s => s.IsDefault);
            if (img != null)
            {
                imgUrl = img.Image1;
            }
            //if(khuyenMai != null)
            //{
            //    foreach (var itemKM in khuyenMai)
            //    {// lặp qua danh sách khuyến mại
            //        if (DateTime.Now >= itemKM.KhuyenMai.NgayBatDau && DateTime.Now <= itemKM.KhuyenMai.NgayKeThuc)
            //        {
            //            sale = itemKM.Sale;
            //            break;
            //        }
            //    }

            //}
            //var price = Model.sach.Price;
            //var priceSale = Model.sach.Price - (Model.sach.Price * sale / 100);

        }


        @*@if (khuyenMai != null)
        {*@// có sale
            total += Convert.ToInt32(Model.Quantity * Model.sach.Price);
            <tr class="text-center " style="vertical-align: middle;">
                <td class="p-0">@Model.sach.ID</td>
                <td>@Model.sach.Name</td>
                <td>
                    <img src="@imgUrl" width="100px" alt="san_pham" />
                </td>
                <td>
                    <span>@Model.Quantity</span>
                </td>
                <td>@Model.sach.Price.GetValueOrDefault(0).ToString("N0")</td>
                <td>@((Model.Quantity * Model.sach.Price.GetValueOrDefault(0)).ToString("N0"))</td>

            </tr>
        @*}*@
        @*else
        {// không có sale
            total += Convert.ToInt32(Model.Quantity * price);
            <tr class="text-center " style="vertical-align: middle;">
                <td class="p-0">@Model.sach.ID</td>
                <td>@Model.sach.Name</td>
                <td>
                    <img src="@imgUrl" width="100px" alt="san_pham" />
                </td>
                <td>
                    <span>@Model.Quantity</span>
                </td>
                <td>@price.GetValueOrDefault(0).ToString("N0")</td>
                <td>@((Model.Quantity * price.GetValueOrDefault(0)).ToString("N0"))</td>

            </tr>
        }*@





        <tr>
            <th colspan="6" style="text-align:right " class="text-dark fs-5 ">Tổng tiền:@total.ToString("N0")</th>
        </tr>







    </table>



   


</div>


<div class="section group mb-5">
    <h4 class="text-center">Xác nhận thanh toán</h4>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                @using (Html.BeginForm("BuyNow", "Cart", FormMethod.Post))
                {
                    <div class="form-group mb-2">
                        <label>Người nhận</label>
                        <input type="text" name="TenKH" class="form-control" value="@userPaymeny.FullName" />

                    </div>

                    <div class="form-group mb-2">
                        <label>Điện thoại</label>
                        <input type="tel" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" placeholder="035 456 9871" name="Mobile" class="form-control" value="@userPaymeny.Phone" />
                    </div>

                    <div class="form-group mb-2">
                        <label>Địa chỉ</label>
                        <input type="text" name="Address" class="form-control" value="@userPaymeny.Address" />
                    </div>

                    <div class="form-group mb-2">
                        <label>Email</label>
                        <input type="email" name="Email" class="form-control" value="@userPaymeny.Email" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="total" value="@total" />

                    </div>
                    <div class="form-group">
                        <input type="hidden" name="id" value="@Model.sach.ID" />

                    </div>
                    <div class="form-group">
                        <input type="hidden" name="Quantity" value="@Model.Quantity" />

                    </div>
                    <div class="form-group">
                        <input type="hidden" name="PriceSale" value="@Model.sach.Price" />

                    </div>
                    <button type="submit" class="btn btn-dark">Thanh toán</button>
                }

            </div>
        </div>

    </div>


</div>

