
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var orderDetail = (List<Web_Sach.Models.EF.OrderDetail>)ViewBag.OrderDetail;
    var voucherOrder = (Web_Sach.Models.EF.VoucherOrder)ViewBag.voucherOrder;
    double totalAll = 0;
}

<div id="orderDetail">
    <div class="container">
        <table class="table table-bordered text-center">
            <tr>
                <th>Mã sách</th>
                <th>Tên sách</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
            @foreach (var item in orderDetail)
            {

                var totalItem = item.PriceBuy * item.QuantityBuy;

                totalAll += totalItem;

                <tr>
                    <td>@item.sachId</td>
                    <td>@item.sachName</td>
                    <td>@item.PriceBuy.ToString("N0")</td>

                    <td>
                        @item.QuantityBuy
                    </td>
                    <td>@totalItem.ToString("N0")</td>

                </tr>

            }

            <tr>
                <th colspan="5" style="text-align:right; " class="fs-5">
                    Tổng:  @totalAll.ToString("N0")
                </th>
            </tr>
            @if (voucherOrder != null)
            {
                if (voucherOrder.maVoucher != 0)
                {
                    <tr>
                        <th colspan="5" style="text-align:right; " class="fs-5">
                            Voucher : -@(voucherOrder.SoTienGiams.HasValue ? voucherOrder.SoTienGiams.Value.ToString("N0"):"") ;
                        </th>
                    </tr>
                    <tr>
                        <th colspan="5" style="text-align:right; " class="fs-5">
                            @{ 
                                double? thanhTien = totalAll - voucherOrder.SoTienGiams;
                            }
                            Thanh toán : @thanhTien.Value.ToString("N0")
                        </th>
                    </tr>
                }
            }


        </table>
    </div>







</div>

