@model List<Web_Sach.Models.EF.CartItem>
@{
    ViewBag.Title = "Thanh toan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double total = 0;
    var userPayment = (Web_Sach.Session.UserLoginSession)ViewBag.User;
}



<div class=" d-block my-5 p-0">
    @if (Model.Count > 0)
    {
        <table class="table table-bordered w-100 table-striped ">
            <tr class="text-center">

                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Ảnh sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>

            </tr>

            @foreach (var item in Model)
            {
                var imgUrl = "";
                //int? sale = 0;
                var khuyenMai = item.sach.KhuyenMai_Sach.ToList();
                var img = item.sach.Images.FirstOrDefault(s => s.IsDefault);
                if (img != null)
                {
                    imgUrl = img.Image1;
                }

                //var price = item.sach.Price;
                //var priceSale = item.sach.Price - (item.sach.Price * sale / 100);




                if (khuyenMai != null)
                {// có sale

                    //foreach (var itemKM in khuyenMai)
                    //{// lặp qua danh sách khuyến mại
                    //    if (DateTime.Now >= itemKM.KhuyenMai.NgayBatDau && DateTime.Now <= itemKM.KhuyenMai.NgayKeThuc)
                    //    {
                    //        sale = itemKM.Sale;
                    //        break;
                    //    }
                    //}

                    //var priceSale = item.sach.Price - (item.sach.Price * sale / 100);
                    total += Convert.ToInt32(item.Quantity * item.sach.Price);
                    <tr class="text-center " style="vertical-align: middle;">
                        <td class="p-0">@item.sach.ID</td>
                        <td>@item.sach.Name</td>
                        <td>
                            <img src="@imgUrl" width="100px" alt="san_pham" />
                        </td>
                        <td>
                            <span>@item.Quantity</span>
                        </td>
                        <td>@item.sach.Price.GetValueOrDefault(0).ToString("N0")</td>
                        <td>@((item.Quantity * item.sach.Price.GetValueOrDefault(0)).ToString("N0"))</td>

                    </tr>
                }
                else
                {// không có sale
                    total += Convert.ToInt32(item.Quantity * item.sach.Price);
                    <tr class="text-center " style="vertical-align: middle;">
                        <td class="p-0">@item.sach.ID</td>
                        <td>@item.sach.Name</td>
                        <td>
                            <img src="@imgUrl" width="100px" alt="san_pham" />
                        </td>
                        <td>
                            <span>@item.Quantity</span>
                        </td>
                        <td>@item.sach.Price.GetValueOrDefault(0).ToString("N0")</td>
                        <td>@((item.Quantity * item.sach.Price.GetValueOrDefault(0)).ToString("N0"))</td>

                    </tr>
                }




            }
        <tbody id="totalVoucher">
            <tr >
                <th colspan="6" style="text-align:right " class="text-dark fs-5">Tổng tiền:@total.ToString("N0")</th>
            </tr>
        </tbody>
          







        </table>



    }


</div>


@*@using (Ajax.BeginForm("Payment", "Cart", new AjaxOptions
    {
        HttpMethod = "POST",

        OnSuccess = "OnSuccessCO",
        OnFailure = "OnFailure",
        OnBegin = "OnBeginCO",
    }, new { @Id = "myForm" }))
    {


        @Html.AntiForgeryToken()*@
<div class="section group mb-5">
    <h4 class="text-center">Xác nhận thanh toán</h4>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                {

                    <div class="form-group mb-2">
                        <label>Người nhận</label>
                        <input type="text" name="TenKH" class="form-control" value="@userPayment.FullName" required />

                    </div>

                    <div class="form-group mb-2">
                        <label>Điện thoại</label>
                        <input type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="0354569871" name="Mobile" class="form-control" value="@userPayment.Phone" required />
                    </div>

                    <div class="form-group mb-2">
                        <label>Địa chỉ</label>
                        <input type="text" name="Address" class="form-control" value="@userPayment.Address" required />
                    </div>

                    <div class="form-group mb-2">
                        <label>Email</label>
                        <input type="email" name="Email" class="form-control" value="@userPayment.Email" required />
                    </div>

                    <div class="form-group mb-2">
                        <label>Mã voucher(nếu có)</label>
                        <input type="text" name="mavoucher" class="form-control" />
                        <p class="d-none" id="errorVoucher"></p>
                    </div>
                    <div class="form-group mb-2">
                        <label>Phương thức thanh toán</label>
                        <select class="form-control" name="TypePayment" , id="drTypePayment">
                            <option value="1" selected>Thanh toán khi nhận hàng</option>
                            <option value="2">Thanh toán Online</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="total" value="@total" />

                    </div>


                    <div class="form-group" id="load_form_payment" style="display:none; ">

                        <h4> <label>Chon phuong thus thanh toan :</label><br /></h4>

                        <h5>Cach 1: Chuyen huong sang VNPAY chon phuong thuc thanh toan</h5>

                        <label><input type="radio" name="TypePaymentVN" value="0" checked /> Cong thanh toan VNPAYQR </label>

                        <h5>Cach 2: Tach phuong thuc thanh toan tai site cua Merchant</h5>

                        <label><input type="radio" name="TypePaymentVN" value="1" /> Thanh toan qua ung dung ho tro VNPAYQR </label><br />

                        <label><input type="radio" name="TypePaymentVN" value="2" /> ATM-Tai khoån ngån hang noi dia </label><br />

                        <label><input type="radio" name="TypePaymentVN" value="3" /> Thanh toan qua the quoc te </label><br />
                        @*<div class="form-group">

                                <button type="submit" class="btn btn-block btn-success">Dat hang</button>

                            </div>*@
                    </div>



                    <div class="form-group" id="load_send"></div>


                    <button type="submit" class="btn btn-success mt-2" id="btnCheckOut">Thanh toán</button>
                }

            </div>
        </div>

    </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('body').on('change', '#drTypePayment', function () {
            var type = $(this).val();
            console.log(type);
            $('#load_form_payment').hide();
            if (type == "2") {
                $('#load_form_payment').show();
            }
        }) // dropw hình thức thanh toán

        $('#btnCheckOut').on("click", function (e) {
            e.preventDefault();
            var TenKH = $('input[name="TenKH"]').val();
            var Mobile = $('input[name="Mobile"]').val();
            var Address = $('input[name="Address"]').val();
            var Email = $('input[name="Email"]').val();
            var mavoucher = $('input[name="mavoucher"]').val();
            var TypePayment = $('#drTypePayment').val();
            var total = $('input[name="total"]').val();
            var TypePaymentVN = $('input[name="TypePaymentVN"]').val();
            //$('#btnCheckOut').attr("disabled", "disabled");
            //$('#load_send').html(`<h2>Đang gửi...</h2>`);
            $.ajax({
                url: "/Cart/Payment",
                type: "POST",
                data: {
                    TenKH,
                    Mobile,
                    Address,
                    Email,
                    mavoucher,
                    TypePayment,
                    total,
                    TypePaymentVN
                },

                dataType: "json",

                success: function (res) {
                    if (res.Code == 10 && res.Success == false) {
                        $('#errorVoucher').addClass('d-block text-danger')
                        $('#errorVoucher').removeClass('d-none')

                        $('#errorVoucher').html('Mã voucher không tồn tại!');
                        $('input[name="mavoucher"]').css('border', "1px solid red");
                    }// voucher
                    else if (res.Code == 11 && res.Success == false) {
                        $('#errorVoucher').addClass('d-block text-danger')
                        $('#errorVoucher').removeClass('d-none')

                        $('#errorVoucher').html('Mã voucher đã hết hạn sử dụng!');
                        $('input[name="mavoucher"]').css('border', "1px solid red");
                    }
                    else if (res.Code == 12 && res.Success == false) {
                        $('#errorVoucher').addClass('d-block text-danger')
                        $('#errorVoucher').removeClass('d-none')

                        $('#errorVoucher').html(`Giá trị đơn hàng phải lớn hơn ${res.DonGia}`);
                        $('input[name="mavoucher"]').css('border', "1px solid red");
                    }
                    else if (res.Code == 13 && res.Success == false) {
                        $('#errorVoucher').addClass('d-block text-danger')
                        $('#errorVoucher').removeClass('d-none')

                        $('#errorVoucher').html("Đã sử dụng hết lượt voucher này!.");
                        $('input[name="mavoucher"]').css('border', "1px solid red");
                    }
                    else if (res.Code == 14 && res.Success == true) {
                        let str = "";
                        let thanhtien = total - res.DonGia;
                        let voucher = res.DonGia != null ? numberWithCommas(res.DonGia) : "";
                        let payment = thanhtien != null ? numberWithCommas(thanhtien) : "";
                        function numberWithCommas(x) {
                            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        }
                        str += `<tr>
                                   <td colspan="6" style="text-align:right " class="text-dark fs-5">Voucher: -${voucher}</td>
                                </tr>
                                <tr>
                                    <th colspan="6" style="text-align:right " class="text-dark fs-5">Thanh toán: ${payment}</th>
                                </tr>
                              
                        `
                        $('#totalVoucher').append(str);
                       
                    }
                    else if (res.Code == 1 && res.Success == true) {
                        location.href = "/hoan-thanh";
                    }
                    else {
                        $('#btnCheckOut').attr("disabled", "disabled");
                        $('#load_send').html(`<h2>Đang gửi...</h2>`);
                        location.href = res.Url;
                    }

                },


            }); //  end ajax
        });// end submit







        // end document
    });



</script>
