
@{
    var listProductNew = (List<Web_Sach.Models.Dao.FlashSale>)ViewBag.listProductNew;
    var dateStart = ViewBag.DateStart;

    var dateEnd = ViewBag.DateEnd;
    if (dateEnd != null)
    {
        dateEnd = dateEnd.ToString("MM/dd/yyyy");
    }
}
@if (listProductNew.Count() > 0)
{
    <div class="container-fluid">
        <div class="fs_bg p-4">
            <div class="flashsale-slider">
                <div class="flashsale_header">
                    <div class="flashsale-content">
                        <a class="flashsale-slider-title">
                            <img src="~/Data/Images/flash-sale-banner.png" class="img-fluid" width="100px" height="50px" />
                            <div class="ms-4" style="font-size:1em;font-weight:600">Kết thúc trong</div>
                            <div class="flashsale-countdown ms-3">
                                @*ngày*@
                                <span class="flashsale-countdown-number" id="days">ngày</span>
                                <span>:</span>
                                @*giờ*@
                                <span class="flashsale-countdown-number" id="hours">giờ</span>
                                <span>:</span>
                                @*phút*@
                                <span class="flashsale-countdown-number" id="minutes">phút</span>
                                <span>:</span>
                                @*giây*@
                                <span class="flashsale-countdown-number" id="seconds">giây</span>
                            </div>
                        </a>
                    </div>
                    <a class="flashsale_showAll showAdd submitbtn" href="/show-flashsale">Xem thêm > ></a>
                </div>
                <div class="flashsale_content">
                    <div class="row slick-productNew">
                        @foreach (var item in listProductNew)
                        {
                            var imgUrl = "";
                            int? sale = 0;
                            var khuyenMai = item.sach.KhuyenMai_Sach.ToList();
                            var img = item.sach.Images.FirstOrDefault(s => s.IsDefault);
                            var rate = Html.Action("RateView", "Home", new { id = @item.sach.ID });
                            if (img != null)
                            {
                                imgUrl = img.Image1;
                            }

                            if (khuyenMai.Count() > 0)
                            {// có khuyến mại
                             // kiểm tra xem thời gian khuyến mại
                                foreach (var itemKM in khuyenMai)
                                {// lặp qua danh sách khuyến mại
                                    if (DateTime.Now >= itemKM.KhuyenMai.NgayBatDau && DateTime.Now <= itemKM.KhuyenMai.NgayKeThuc)
                                    {
                                        sale = itemKM.Sale;
                                        break;
                                    }
                                }
                                var priceSale = item.sach.Price - (item.sach.Price * sale / 100);
                                <div class="col-md-12 product-item my-3 position-relative text-center">

                                    <a href="/chi-tiet/@item.sach.MetaTitle-@item.sach.ID" class="submitbtn"><img src="@imgUrl" class="img-fluid" alt="san_pham"> </a>
                                    @if (sale != 0)
                                    {// sale còn hạn
                                        <span class=" position-absolute  badge translate-middle  bg-danger" style="top:19px; right: -10px;">-@sale%</span>
                                        <p class="fs-5 product-name multi-line">@item.sach.Name</p>
                                        if (!MvcHtmlString.IsNullOrEmpty(rate))
                                        {
                                            @Html.Raw(rate);
                                            <span class="text-danger me-4 ">@(priceSale.HasValue ? priceSale.Value.ToString("N0") :"")₫</span>
                                            <span>
                                                <del class="price-sale">@((item.sach.Price.HasValue ? item.sach.Price.Value.ToString("N0") : ""))₫</del>
                                            </span>
                                        }
                                        else
                                        {
                                            <div class="mt-4">
                                                <span class="text-danger  me-4 ">@(priceSale.HasValue ? priceSale.Value.ToString("N0") :"")₫</span>
                                                <span>
                                                    <del class="price-sale">@((item.sach.Price.HasValue ? item.sach.Price.Value.ToString("N0") : ""))₫</del>
                                                </span>
                                            </div>
                                        }
                                    }
                                    else
                                    {// sale hết hạn
                                        <p class="fs-5 product-name multi-line">@item.sach.Name</p>
                                        if (!MvcHtmlString.IsNullOrEmpty(rate))
                                        {
                                            @Html.Raw(rate);
                                            <span class="text-danger">
                                                @((item.sach.Price.HasValue ? item.sach.Price.Value.ToString("N0") : ""))₫
                                            </span>
                                        }
                                        else
                                        {
                                            <p class="text-danger mt-4">
                                                @((item.sach.Price.HasValue ? item.sach.Price.Value.ToString("N0") : ""))₫
                                            </p>
                                        }

                                    }


                                </div>
                            }
                            else
                            {// không có khuyến mại
                             //var priceSale = item.Price - (item.Price * item.Sale / 100);
                                <div class="col-md-12 product-item my-3 position-relative text-center">

                                    <a href="/chi-tiet/@item.sach.MetaTitle-@item.sach.ID" class="submitbtn"><img src="@imgUrl" class="img-fluid" alt="san_pham"> </a>
                                    @*<span class=" position-absolute  badge translate-middle  bg-danger" style="top:19px; right: -10px;">-@item.Sale%</span>*@
                                    <p class="fs-5 product-name multi-line">@item.sach.Name</p>
                                    @if (!MvcHtmlString.IsNullOrEmpty(rate))
                                    {
                                        @Html.Raw(rate);
                                        <p class="text-danger">
                                            @((item.sach.Price.HasValue ? item.sach.Price.Value.ToString("N0") : ""))₫
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="text-danger mt-4">
                                            @((item.sach.Price.HasValue ? item.sach.Price.Value.ToString("N0") : ""))₫
                                        </p>
                                    }

                                    @*<span class="text-dark me-4 ">@(item.Price.HasValue ? item.Price.Value.ToString("N0") :"")</span>*@
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
   const timezoneOffset = 7; // GMT+7
   let fuT;
   if (localStorage.getItem("endTime")) {
       fuT = Number(localStorage.getItem("endTime"));
   }
   else {
       // Tạo thời gian kết thúc từ ngày được cung cấp và thêm múi giờ
       fuT = new Date("@dateEnd").getTime() + (timezoneOffset * 60 * 60 * 1000);
       localStorage.setItem("endTime", fuT.toString());
   }
    // localStorage.removeItem("endTime");
   let check = setInterval(function () {
       // Lấy thời gian hiện tại theo múi giờ Việt Nam
       let noW = new Date().getTime() + (timezoneOffset * 60 * 60 * 1000);
       let D = fuT - noW;
       //1s = 1000ms
       let days = Math.floor(D / (1000 * 60 * 60 * 24));
       let hours = Math.floor(D % (24 * 60 * 60 * 1000) / (1000 * 60 * 60));
       let minutes = Math.floor(D % (60 * 60 * 1000) / (1000 * 60));
       let seconds = Math.floor((D % (1000 * 60)) / 1000);

       days = ("0" + days).slice(-2);
       hours = ("0" + hours).slice(-2);
       minutes = ("0" + minutes).slice(-2);
       seconds = ("0" + seconds).slice(-2);
     
       document.getElementById("days").innerText = days;
       document.getElementById("hours").innerText = hours;
       document.getElementById("minutes").innerText = minutes;
       document.getElementById("seconds").innerText = seconds;
       if (D <= 0) {
           clearInterval(check);
           localStorage.removeItem("endTime");
           document.getElementById("days").innerText = 0;
           document.getElementById("hours").innerText = 0;
           document.getElementById("minutes").innerText = 0;
           document.getElementById("seconds").innerText = 0;
           document.querySelector(".fs_bg").style.display='none';
       }
   }, 1000);
</script>

}